DATABASE_URL=postgresql://postgres:kIimQyHyhFaHjjXdLaWmLNFhifRxuwWR@postgres.railway.internal:5432/railway
API_V1_PREFIX=/api/v1
CORS_ORIGINS=https://mmb-frontend-production-f434.up.railway.app
DEBUG=true
