DATABASE_URL=postgresql://postgres:kIimQyHyhFaHjjXdLaWmLNFhifRxuwWR@postgres.railway.internal:5432/railway
API_V1_PREFIX=/api/v1
# Multiple origins separated by comma (no spaces around commas)
CORS_ORIGINS=https://mmb-frontend-production-f434.up.railway.app,http://localhost:5173,http://localhost:3000
DEBUG=true
